$primary-color: #333;
$secondary-color: #444;
$overlay-color: rgba(0,0,0,0.7);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: $primary-color;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

// Navigation Bar
.navbar {
    font-size: 1.2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        font-size: 2rem;
    }

    .nav {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a {
            padding: 0 1rem;
            
            &:hover {
                color: $secondary-color;
            }
        }
    
    }
}

// Section A
.section-a {
    
    margin: 2rem 0;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 3.5rem;
        color: $primary-color;
    }

    p {
        margin: 1rem 0;
    }
}

// Section B
.section-b {
    position: relative;
    background: url('../../images/cat-2.jpg') no-repeat bottom center/cover;
    height: 600px;

    .section-b-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        max-width: 800px;
        padding: 5rem 0;

        h3 {
            font-size: 2rem;
        }

        h2 {
            font-size: 4rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    }
}

// Section C
.section-c {
    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        a, img {
            width: 100%;
            height: 100%;
        }
        
        a:first-child {
            grid-row: 1/3;
            grid-column: 1/3;
        }

        a:nth-child(2) {
            grid-column: 3/5;
        }

        a:nth-child(4) {
            grid-column: 3/5;
        }
    }
}

// Section Footer
.section-footer {
    background: $primary-color;
    color: #fff;
    padding: 4rem 0;

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        margin-bottom: .7rem;
    }

    a {
        line-height: 1.9;
        color: #ccc;
        font-size: 1rem;

        > i {
            color: #555;
            margin-right: .5rem;
        }
    }
}

// Email Form 
.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;

    .form-control {
        display: inline-block;
        border: 0;
        outline: 0;
        font-size: 1rem;
        color: #ddd;
        background-color: transparent;
        font-family: inherit;
        margin: 0;
        padding: 0 3rem 0 1.5rem;
        width: 100%;
        height: 45px;
        border-radius: 20px; 
    }

    .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #eee;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: $primary-color;
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    }
}

// Utilities
.btn {
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    padding: .8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;

    &:hover {
        background: $secondary-color;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $overlay-color;
}

// Override Vendor
.slbArrow {
    outline: none;
}

@media(max-width: 700px) {
    // Section A
    .section-a {

        img {
            width: 80%;
            margin: auto;
        }

        .container {
            grid-template-columns: 1fr;
            text-align: center;

            div:first-child {
                order: 2;
            }

            div:last-child {
                order: -1;
            }
        }
    }

    // Section B
    .section-b {
        .section-b-inner {
            h2 {
                font-size: 3rem;
            }
        }
    }

    // Section C
    .section-c {
        .gallery {
            grid-template-columns: repeat(3 , 1fr);

            a:first-child {
                grid-row: 1/1;
                grid-column: 1/1;
            }   
            a:nth-child(2) {
                grid-column: 2/4;
            }
            a:nth-child(3) {
                grid-column: 1/3;
            }
            a:nth-child(4) {
                display: none;
            }

        }
    }

    // Section footer
    .section-footer {
        padding: 2rem 0;

        .container {
            grid-template-columns: 1fr;
            text-align: center;

            div:nth-child(2), div:nth-child(3) {
                display: none;
            }
        }

        
    }
    
}